<tmpl_if name='sidebar_active'>
<aside id="sidebar" class="login-sidebar">
    {tmpl_var name='sidebar_records'}
</aside>
</tmpl_if>
<div id="login-form-reset">
    <img title="<tmpl_var name="app_title">" id="logo" alt="<tmpl_var name="app_title">" src="<tmpl_var name='app_logo'>">
    <div class="box-inner panel panel_password_reset">
        <div class="box-inner-header">{tmpl_var name='pw_reset_txt'}</div>
        <div id="message">
            <tmpl_if name="msg">
                <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
            </tmpl_if>
            <tmpl_if name="error">
                <div id="errorMsg">
                    <div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
                </div>
            </tmpl_if>
        </div>
        <div id="form">
            <div class="form-field">
                <label for="email">{tmpl_var name='email_txt'}</label>
                <input name="email" id="email" value="" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="form-field">
                <label for="username">{tmpl_var name='username_txt'}</label>
                <input name="username" id="username" value="" size="30" maxlength="255" type="text" class="textInput" />
            </div>
            <div class="form-field">
                <label>&nbsp;</label>
                <input type="hidden" name="s_mod" value="login" />
                <input type="hidden" name="s_pg" value="index" />
                <button type="button" class="button iconstxt icoSend" value="{tmpl_var name="add_new_record_txt"}" onclick="submitForm('pageForm','login/password_reset.php');"><span>{tmpl_var name='pw_button_txt'}</span></button>
            </div>
        </div>
    </div>
    <div class="box-bottom">
        <p class="powered">Powered by <a href="<tmpl_var name="app_link">" target="_blank"><tmpl_var name="app_title"></a></p>
    </div>
</div>